.dds__grid {
  display: grid;
}

.dds__grid--compact {
  gap: var(--dds-grid-gutter-compact-xs);
}
@media (min-width: 768px) {
  .dds__grid--compact {
    gap: var(--dds-grid-gutter-compact-sm);
  }
}
@media (min-width: 1024px) {
  .dds__grid--compact {
    gap: var(--dds-grid-gutter-compact-md);
  }
}
@media (min-width: 1366px) {
  .dds__grid--compact {
    gap: var(--dds-grid-gutter-compact-lg);
  }
}
@media (min-width: 1584px) {
  .dds__grid--compact {
    gap: var(--dds-grid-gutter-compact-xl);
  }
}
@media (min-width: 1920px) {
  .dds__grid--compact {
    gap: var(--dds-grid-gutter-compact-2xl);
  }
}
@media (min-width: 2560px) {
  .dds__grid--compact {
    gap: var(--dds-grid-gutter-compact-3xl);
  }
}
@media (min-width: 3840px) {
  .dds__grid--compact {
    gap: var(--dds-grid-gutter-compact-4xl);
  }
}
@media (min-width: 5120px) {
  .dds__grid--compact {
    gap: var(--dds-grid-gutter-compact-5xl);
  }
}

.dds__grid--regular {
  gap: var(--dds-grid-gutter-regular-xs);
}
@media (min-width: 768px) {
  .dds__grid--regular {
    gap: var(--dds-grid-gutter-regular-sm);
  }
}
@media (min-width: 1024px) {
  .dds__grid--regular {
    gap: var(--dds-grid-gutter-regular-md);
  }
}
@media (min-width: 1366px) {
  .dds__grid--regular {
    gap: var(--dds-grid-gutter-regular-lg);
  }
}
@media (min-width: 1584px) {
  .dds__grid--regular {
    gap: var(--dds-grid-gutter-regular-xl);
  }
}
@media (min-width: 1920px) {
  .dds__grid--regular {
    gap: var(--dds-grid-gutter-regular-2xl);
  }
}
@media (min-width: 2560px) {
  .dds__grid--regular {
    gap: var(--dds-grid-gutter-regular-3xl);
  }
}
@media (min-width: 3840px) {
  .dds__grid--regular {
    gap: var(--dds-grid-gutter-regular-4xl);
  }
}
@media (min-width: 5120px) {
  .dds__grid--regular {
    gap: var(--dds-grid-gutter-regular-5xl);
  }
}

.dds__grid--comfy {
  gap: var(--dds-grid-gutter-comfy-xs);
}
@media (min-width: 768px) {
  .dds__grid--comfy {
    gap: var(--dds-grid-gutter-comfy-sm);
  }
}
@media (min-width: 1024px) {
  .dds__grid--comfy {
    gap: var(--dds-grid-gutter-comfy-md);
  }
}
@media (min-width: 1366px) {
  .dds__grid--comfy {
    gap: var(--dds-grid-gutter-comfy-lg);
  }
}
@media (min-width: 1584px) {
  .dds__grid--comfy {
    gap: var(--dds-grid-gutter-comfy-xl);
  }
}
@media (min-width: 1920px) {
  .dds__grid--comfy {
    gap: var(--dds-grid-gutter-comfy-2xl);
  }
}
@media (min-width: 2560px) {
  .dds__grid--comfy {
    gap: var(--dds-grid-gutter-comfy-3xl);
  }
}
@media (min-width: 3840px) {
  .dds__grid--comfy {
    gap: var(--dds-grid-gutter-comfy-4xl);
  }
}
@media (min-width: 5120px) {
  .dds__grid--comfy {
    gap: var(--dds-grid-gutter-comfy-5xl);
  }
}

.dds__grid-cols--1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.dds__grid-cols--2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dds__grid-cols--3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.dds__grid-cols--4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.dds__grid-cols--5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.dds__grid-cols--6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.dds__grid-cols--7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.dds__grid-cols--8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.dds__grid-cols--9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.dds__grid-cols--10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.dds__grid-cols--11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.dds__grid-cols--12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.dds__grid-cols--none {
  grid-template-columns: none;
}

.dds__col-span--1 {
  grid-column: span 1/span 1;
}

.dds__col-span--2 {
  grid-column: span 2/span 2;
}

.dds__col-span--3 {
  grid-column: span 3/span 3;
}

.dds__col-span--4 {
  grid-column: span 4/span 4;
}

.dds__col-span--5 {
  grid-column: span 5/span 5;
}

.dds__col-span--6 {
  grid-column: span 6/span 6;
}

.dds__col-span--7 {
  grid-column: span 7/span 7;
}

.dds__col-span--8 {
  grid-column: span 8/span 8;
}

.dds__col-span--9 {
  grid-column: span 9/span 9;
}

.dds__col-span--10 {
  grid-column: span 10/span 10;
}

.dds__col-span--11 {
  grid-column: span 11/span 11;
}

.dds__col-span--12 {
  grid-column: span 12/span 12;
}

.dds__col-span--full {
  grid-column: 1/-1;
}

.dds__col-span--auto {
  grid-column: auto;
}

.dds__col-start--1 {
  grid-column-start: 1;
}

.dds__col-end--1 {
  grid-column-end: 1;
}

.dds__col-start--2 {
  grid-column-start: 2;
}

.dds__col-end--2 {
  grid-column-end: 2;
}

.dds__col-start--3 {
  grid-column-start: 3;
}

.dds__col-end--3 {
  grid-column-end: 3;
}

.dds__col-start--4 {
  grid-column-start: 4;
}

.dds__col-end--4 {
  grid-column-end: 4;
}

.dds__col-start--5 {
  grid-column-start: 5;
}

.dds__col-end--5 {
  grid-column-end: 5;
}

.dds__col-start--6 {
  grid-column-start: 6;
}

.dds__col-end--6 {
  grid-column-end: 6;
}

.dds__col-start--7 {
  grid-column-start: 7;
}

.dds__col-end--7 {
  grid-column-end: 7;
}

.dds__col-start--8 {
  grid-column-start: 8;
}

.dds__col-end--8 {
  grid-column-end: 8;
}

.dds__col-start--9 {
  grid-column-start: 9;
}

.dds__col-end--9 {
  grid-column-end: 9;
}

.dds__col-start--10 {
  grid-column-start: 10;
}

.dds__col-end--10 {
  grid-column-end: 10;
}

.dds__col-start--11 {
  grid-column-start: 11;
}

.dds__col-end--11 {
  grid-column-end: 11;
}

.dds__col-start--12 {
  grid-column-start: 12;
}

.dds__col-end--12 {
  grid-column-end: 12;
}

.dds__col-start--13 {
  grid-column-start: 13;
}

.dds__col-end--13 {
  grid-column-end: 13;
}

.dds__col-start--auto {
  grid-column-start: auto;
}

.dds__col-end--auto {
  grid-column-end: auto;
}

.dds__row-span--1 {
  grid-row: span 1/span 1;
}

.dds__row-span--2 {
  grid-row: span 2/span 2;
}

.dds__row-span--3 {
  grid-row: span 3/span 3;
}

.dds__row-span--4 {
  grid-row: span 4/span 4;
}

.dds__row-span--5 {
  grid-row: span 5/span 5;
}

.dds__row-span--6 {
  grid-row: span 6/span 6;
}

.dds__row-span--full {
  grid-row: 1/-1;
}

.dds__row-span--auto {
  grid-row: auto;
}

@media (min-width: 768px) {
  .sm\:dds__grid-cols--1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .sm\:dds__grid-cols--none {
    grid-template-columns: none;
  }
  .sm\:dds__col-span--1 {
    grid-column: span 1/span 1;
  }
  .sm\:dds__col-span--2 {
    grid-column: span 2/span 2;
  }
  .sm\:dds__col-span--3 {
    grid-column: span 3/span 3;
  }
  .sm\:dds__col-span--4 {
    grid-column: span 4/span 4;
  }
  .sm\:dds__col-span--5 {
    grid-column: span 5/span 5;
  }
  .sm\:dds__col-span--6 {
    grid-column: span 6/span 6;
  }
  .sm\:dds__col-span--7 {
    grid-column: span 7/span 7;
  }
  .sm\:dds__col-span--8 {
    grid-column: span 8/span 8;
  }
  .sm\:dds__col-span--9 {
    grid-column: span 9/span 9;
  }
  .sm\:dds__col-span--10 {
    grid-column: span 10/span 10;
  }
  .sm\:dds__col-span--11 {
    grid-column: span 11/span 11;
  }
  .sm\:dds__col-span--12 {
    grid-column: span 12/span 12;
  }
  .sm\:dds__col-span--full {
    grid-column: 1/-1;
  }
  .sm\:dds__col-span--auto {
    grid-column: auto;
  }
  .sm\:dds__col-start--1 {
    grid-column-start: 1;
  }
  .sm\:dds__col-end--1 {
    grid-column-end: 1;
  }
  .sm\:dds__col-start--2 {
    grid-column-start: 2;
  }
  .sm\:dds__col-end--2 {
    grid-column-end: 2;
  }
  .sm\:dds__col-start--3 {
    grid-column-start: 3;
  }
  .sm\:dds__col-end--3 {
    grid-column-end: 3;
  }
  .sm\:dds__col-start--4 {
    grid-column-start: 4;
  }
  .sm\:dds__col-end--4 {
    grid-column-end: 4;
  }
  .sm\:dds__col-start--5 {
    grid-column-start: 5;
  }
  .sm\:dds__col-end--5 {
    grid-column-end: 5;
  }
  .sm\:dds__col-start--6 {
    grid-column-start: 6;
  }
  .sm\:dds__col-end--6 {
    grid-column-end: 6;
  }
  .sm\:dds__col-start--7 {
    grid-column-start: 7;
  }
  .sm\:dds__col-end--7 {
    grid-column-end: 7;
  }
  .sm\:dds__col-start--8 {
    grid-column-start: 8;
  }
  .sm\:dds__col-end--8 {
    grid-column-end: 8;
  }
  .sm\:dds__col-start--9 {
    grid-column-start: 9;
  }
  .sm\:dds__col-end--9 {
    grid-column-end: 9;
  }
  .sm\:dds__col-start--10 {
    grid-column-start: 10;
  }
  .sm\:dds__col-end--10 {
    grid-column-end: 10;
  }
  .sm\:dds__col-start--11 {
    grid-column-start: 11;
  }
  .sm\:dds__col-end--11 {
    grid-column-end: 11;
  }
  .sm\:dds__col-start--12 {
    grid-column-start: 12;
  }
  .sm\:dds__col-end--12 {
    grid-column-end: 12;
  }
  .sm\:dds__col-start--13 {
    grid-column-start: 13;
  }
  .sm\:dds__col-end--13 {
    grid-column-end: 13;
  }
  .sm\:dds__col-start--auto {
    grid-column-start: auto;
  }
  .sm\:dds__col-end--auto {
    grid-column-end: auto;
  }
  .sm\:dds__row-span--1 {
    grid-row: span 1/span 1;
  }
  .sm\:dds__row-span--2 {
    grid-row: span 2/span 2;
  }
  .sm\:dds__row-span--3 {
    grid-row: span 3/span 3;
  }
  .sm\:dds__row-span--4 {
    grid-row: span 4/span 4;
  }
  .sm\:dds__row-span--5 {
    grid-row: span 5/span 5;
  }
  .sm\:dds__row-span--6 {
    grid-row: span 6/span 6;
  }
  .sm\:dds__row-span--full {
    grid-row: 1/-1;
  }
  .sm\:dds__row-span--auto {
    grid-row: auto;
  }
}
@media (min-width: 1024px) {
  .md\:dds__grid-cols--1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .md\:dds__grid-cols--none {
    grid-template-columns: none;
  }
  .md\:dds__col-span--1 {
    grid-column: span 1/span 1;
  }
  .md\:dds__col-span--2 {
    grid-column: span 2/span 2;
  }
  .md\:dds__col-span--3 {
    grid-column: span 3/span 3;
  }
  .md\:dds__col-span--4 {
    grid-column: span 4/span 4;
  }
  .md\:dds__col-span--5 {
    grid-column: span 5/span 5;
  }
  .md\:dds__col-span--6 {
    grid-column: span 6/span 6;
  }
  .md\:dds__col-span--7 {
    grid-column: span 7/span 7;
  }
  .md\:dds__col-span--8 {
    grid-column: span 8/span 8;
  }
  .md\:dds__col-span--9 {
    grid-column: span 9/span 9;
  }
  .md\:dds__col-span--10 {
    grid-column: span 10/span 10;
  }
  .md\:dds__col-span--11 {
    grid-column: span 11/span 11;
  }
  .md\:dds__col-span--12 {
    grid-column: span 12/span 12;
  }
  .md\:dds__col-span--full {
    grid-column: 1/-1;
  }
  .md\:dds__col-span--auto {
    grid-column: auto;
  }
  .md\:dds__col-start--1 {
    grid-column-start: 1;
  }
  .md\:dds__col-end--1 {
    grid-column-end: 1;
  }
  .md\:dds__col-start--2 {
    grid-column-start: 2;
  }
  .md\:dds__col-end--2 {
    grid-column-end: 2;
  }
  .md\:dds__col-start--3 {
    grid-column-start: 3;
  }
  .md\:dds__col-end--3 {
    grid-column-end: 3;
  }
  .md\:dds__col-start--4 {
    grid-column-start: 4;
  }
  .md\:dds__col-end--4 {
    grid-column-end: 4;
  }
  .md\:dds__col-start--5 {
    grid-column-start: 5;
  }
  .md\:dds__col-end--5 {
    grid-column-end: 5;
  }
  .md\:dds__col-start--6 {
    grid-column-start: 6;
  }
  .md\:dds__col-end--6 {
    grid-column-end: 6;
  }
  .md\:dds__col-start--7 {
    grid-column-start: 7;
  }
  .md\:dds__col-end--7 {
    grid-column-end: 7;
  }
  .md\:dds__col-start--8 {
    grid-column-start: 8;
  }
  .md\:dds__col-end--8 {
    grid-column-end: 8;
  }
  .md\:dds__col-start--9 {
    grid-column-start: 9;
  }
  .md\:dds__col-end--9 {
    grid-column-end: 9;
  }
  .md\:dds__col-start--10 {
    grid-column-start: 10;
  }
  .md\:dds__col-end--10 {
    grid-column-end: 10;
  }
  .md\:dds__col-start--11 {
    grid-column-start: 11;
  }
  .md\:dds__col-end--11 {
    grid-column-end: 11;
  }
  .md\:dds__col-start--12 {
    grid-column-start: 12;
  }
  .md\:dds__col-end--12 {
    grid-column-end: 12;
  }
  .md\:dds__col-start--13 {
    grid-column-start: 13;
  }
  .md\:dds__col-end--13 {
    grid-column-end: 13;
  }
  .md\:dds__col-start--auto {
    grid-column-start: auto;
  }
  .md\:dds__col-end--auto {
    grid-column-end: auto;
  }
  .md\:dds__row-span--1 {
    grid-row: span 1/span 1;
  }
  .md\:dds__row-span--2 {
    grid-row: span 2/span 2;
  }
  .md\:dds__row-span--3 {
    grid-row: span 3/span 3;
  }
  .md\:dds__row-span--4 {
    grid-row: span 4/span 4;
  }
  .md\:dds__row-span--5 {
    grid-row: span 5/span 5;
  }
  .md\:dds__row-span--6 {
    grid-row: span 6/span 6;
  }
  .md\:dds__row-span--full {
    grid-row: 1/-1;
  }
  .md\:dds__row-span--auto {
    grid-row: auto;
  }
}
@media (min-width: 1366px) {
  .lg\:dds__grid-cols--1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .lg\:dds__grid-cols--none {
    grid-template-columns: none;
  }
  .lg\:dds__col-span--1 {
    grid-column: span 1/span 1;
  }
  .lg\:dds__col-span--2 {
    grid-column: span 2/span 2;
  }
  .lg\:dds__col-span--3 {
    grid-column: span 3/span 3;
  }
  .lg\:dds__col-span--4 {
    grid-column: span 4/span 4;
  }
  .lg\:dds__col-span--5 {
    grid-column: span 5/span 5;
  }
  .lg\:dds__col-span--6 {
    grid-column: span 6/span 6;
  }
  .lg\:dds__col-span--7 {
    grid-column: span 7/span 7;
  }
  .lg\:dds__col-span--8 {
    grid-column: span 8/span 8;
  }
  .lg\:dds__col-span--9 {
    grid-column: span 9/span 9;
  }
  .lg\:dds__col-span--10 {
    grid-column: span 10/span 10;
  }
  .lg\:dds__col-span--11 {
    grid-column: span 11/span 11;
  }
  .lg\:dds__col-span--12 {
    grid-column: span 12/span 12;
  }
  .lg\:dds__col-span--full {
    grid-column: 1/-1;
  }
  .lg\:dds__col-span--auto {
    grid-column: auto;
  }
  .lg\:dds__col-start--1 {
    grid-column-start: 1;
  }
  .lg\:dds__col-end--1 {
    grid-column-end: 1;
  }
  .lg\:dds__col-start--2 {
    grid-column-start: 2;
  }
  .lg\:dds__col-end--2 {
    grid-column-end: 2;
  }
  .lg\:dds__col-start--3 {
    grid-column-start: 3;
  }
  .lg\:dds__col-end--3 {
    grid-column-end: 3;
  }
  .lg\:dds__col-start--4 {
    grid-column-start: 4;
  }
  .lg\:dds__col-end--4 {
    grid-column-end: 4;
  }
  .lg\:dds__col-start--5 {
    grid-column-start: 5;
  }
  .lg\:dds__col-end--5 {
    grid-column-end: 5;
  }
  .lg\:dds__col-start--6 {
    grid-column-start: 6;
  }
  .lg\:dds__col-end--6 {
    grid-column-end: 6;
  }
  .lg\:dds__col-start--7 {
    grid-column-start: 7;
  }
  .lg\:dds__col-end--7 {
    grid-column-end: 7;
  }
  .lg\:dds__col-start--8 {
    grid-column-start: 8;
  }
  .lg\:dds__col-end--8 {
    grid-column-end: 8;
  }
  .lg\:dds__col-start--9 {
    grid-column-start: 9;
  }
  .lg\:dds__col-end--9 {
    grid-column-end: 9;
  }
  .lg\:dds__col-start--10 {
    grid-column-start: 10;
  }
  .lg\:dds__col-end--10 {
    grid-column-end: 10;
  }
  .lg\:dds__col-start--11 {
    grid-column-start: 11;
  }
  .lg\:dds__col-end--11 {
    grid-column-end: 11;
  }
  .lg\:dds__col-start--12 {
    grid-column-start: 12;
  }
  .lg\:dds__col-end--12 {
    grid-column-end: 12;
  }
  .lg\:dds__col-start--13 {
    grid-column-start: 13;
  }
  .lg\:dds__col-end--13 {
    grid-column-end: 13;
  }
  .lg\:dds__col-start--auto {
    grid-column-start: auto;
  }
  .lg\:dds__col-end--auto {
    grid-column-end: auto;
  }
  .lg\:dds__row-span--1 {
    grid-row: span 1/span 1;
  }
  .lg\:dds__row-span--2 {
    grid-row: span 2/span 2;
  }
  .lg\:dds__row-span--3 {
    grid-row: span 3/span 3;
  }
  .lg\:dds__row-span--4 {
    grid-row: span 4/span 4;
  }
  .lg\:dds__row-span--5 {
    grid-row: span 5/span 5;
  }
  .lg\:dds__row-span--6 {
    grid-row: span 6/span 6;
  }
  .lg\:dds__row-span--full {
    grid-row: 1/-1;
  }
  .lg\:dds__row-span--auto {
    grid-row: auto;
  }
}
@media (min-width: 1584px) {
  .xl\:dds__grid-cols--1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .xl\:dds__grid-cols--none {
    grid-template-columns: none;
  }
  .xl\:dds__col-span--1 {
    grid-column: span 1/span 1;
  }
  .xl\:dds__col-span--2 {
    grid-column: span 2/span 2;
  }
  .xl\:dds__col-span--3 {
    grid-column: span 3/span 3;
  }
  .xl\:dds__col-span--4 {
    grid-column: span 4/span 4;
  }
  .xl\:dds__col-span--5 {
    grid-column: span 5/span 5;
  }
  .xl\:dds__col-span--6 {
    grid-column: span 6/span 6;
  }
  .xl\:dds__col-span--7 {
    grid-column: span 7/span 7;
  }
  .xl\:dds__col-span--8 {
    grid-column: span 8/span 8;
  }
  .xl\:dds__col-span--9 {
    grid-column: span 9/span 9;
  }
  .xl\:dds__col-span--10 {
    grid-column: span 10/span 10;
  }
  .xl\:dds__col-span--11 {
    grid-column: span 11/span 11;
  }
  .xl\:dds__col-span--12 {
    grid-column: span 12/span 12;
  }
  .xl\:dds__col-span--full {
    grid-column: 1/-1;
  }
  .xl\:dds__col-span--auto {
    grid-column: auto;
  }
  .xl\:dds__col-start--1 {
    grid-column-start: 1;
  }
  .xl\:dds__col-end--1 {
    grid-column-end: 1;
  }
  .xl\:dds__col-start--2 {
    grid-column-start: 2;
  }
  .xl\:dds__col-end--2 {
    grid-column-end: 2;
  }
  .xl\:dds__col-start--3 {
    grid-column-start: 3;
  }
  .xl\:dds__col-end--3 {
    grid-column-end: 3;
  }
  .xl\:dds__col-start--4 {
    grid-column-start: 4;
  }
  .xl\:dds__col-end--4 {
    grid-column-end: 4;
  }
  .xl\:dds__col-start--5 {
    grid-column-start: 5;
  }
  .xl\:dds__col-end--5 {
    grid-column-end: 5;
  }
  .xl\:dds__col-start--6 {
    grid-column-start: 6;
  }
  .xl\:dds__col-end--6 {
    grid-column-end: 6;
  }
  .xl\:dds__col-start--7 {
    grid-column-start: 7;
  }
  .xl\:dds__col-end--7 {
    grid-column-end: 7;
  }
  .xl\:dds__col-start--8 {
    grid-column-start: 8;
  }
  .xl\:dds__col-end--8 {
    grid-column-end: 8;
  }
  .xl\:dds__col-start--9 {
    grid-column-start: 9;
  }
  .xl\:dds__col-end--9 {
    grid-column-end: 9;
  }
  .xl\:dds__col-start--10 {
    grid-column-start: 10;
  }
  .xl\:dds__col-end--10 {
    grid-column-end: 10;
  }
  .xl\:dds__col-start--11 {
    grid-column-start: 11;
  }
  .xl\:dds__col-end--11 {
    grid-column-end: 11;
  }
  .xl\:dds__col-start--12 {
    grid-column-start: 12;
  }
  .xl\:dds__col-end--12 {
    grid-column-end: 12;
  }
  .xl\:dds__col-start--13 {
    grid-column-start: 13;
  }
  .xl\:dds__col-end--13 {
    grid-column-end: 13;
  }
  .xl\:dds__col-start--auto {
    grid-column-start: auto;
  }
  .xl\:dds__col-end--auto {
    grid-column-end: auto;
  }
  .xl\:dds__row-span--1 {
    grid-row: span 1/span 1;
  }
  .xl\:dds__row-span--2 {
    grid-row: span 2/span 2;
  }
  .xl\:dds__row-span--3 {
    grid-row: span 3/span 3;
  }
  .xl\:dds__row-span--4 {
    grid-row: span 4/span 4;
  }
  .xl\:dds__row-span--5 {
    grid-row: span 5/span 5;
  }
  .xl\:dds__row-span--6 {
    grid-row: span 6/span 6;
  }
  .xl\:dds__row-span--full {
    grid-row: 1/-1;
  }
  .xl\:dds__row-span--auto {
    grid-row: auto;
  }
}
@media (min-width: 1920px) {
  .xl2\:dds__grid-cols--1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .xl2\:dds__grid-cols--none {
    grid-template-columns: none;
  }
  .xl2\:dds__col-span--1 {
    grid-column: span 1/span 1;
  }
  .xl2\:dds__col-span--2 {
    grid-column: span 2/span 2;
  }
  .xl2\:dds__col-span--3 {
    grid-column: span 3/span 3;
  }
  .xl2\:dds__col-span--4 {
    grid-column: span 4/span 4;
  }
  .xl2\:dds__col-span--5 {
    grid-column: span 5/span 5;
  }
  .xl2\:dds__col-span--6 {
    grid-column: span 6/span 6;
  }
  .xl2\:dds__col-span--7 {
    grid-column: span 7/span 7;
  }
  .xl2\:dds__col-span--8 {
    grid-column: span 8/span 8;
  }
  .xl2\:dds__col-span--9 {
    grid-column: span 9/span 9;
  }
  .xl2\:dds__col-span--10 {
    grid-column: span 10/span 10;
  }
  .xl2\:dds__col-span--11 {
    grid-column: span 11/span 11;
  }
  .xl2\:dds__col-span--12 {
    grid-column: span 12/span 12;
  }
  .xl2\:dds__col-span--full {
    grid-column: 1/-1;
  }
  .xl2\:dds__col-span--auto {
    grid-column: auto;
  }
  .xl2\:dds__col-start--1 {
    grid-column-start: 1;
  }
  .xl2\:dds__col-end--1 {
    grid-column-end: 1;
  }
  .xl2\:dds__col-start--2 {
    grid-column-start: 2;
  }
  .xl2\:dds__col-end--2 {
    grid-column-end: 2;
  }
  .xl2\:dds__col-start--3 {
    grid-column-start: 3;
  }
  .xl2\:dds__col-end--3 {
    grid-column-end: 3;
  }
  .xl2\:dds__col-start--4 {
    grid-column-start: 4;
  }
  .xl2\:dds__col-end--4 {
    grid-column-end: 4;
  }
  .xl2\:dds__col-start--5 {
    grid-column-start: 5;
  }
  .xl2\:dds__col-end--5 {
    grid-column-end: 5;
  }
  .xl2\:dds__col-start--6 {
    grid-column-start: 6;
  }
  .xl2\:dds__col-end--6 {
    grid-column-end: 6;
  }
  .xl2\:dds__col-start--7 {
    grid-column-start: 7;
  }
  .xl2\:dds__col-end--7 {
    grid-column-end: 7;
  }
  .xl2\:dds__col-start--8 {
    grid-column-start: 8;
  }
  .xl2\:dds__col-end--8 {
    grid-column-end: 8;
  }
  .xl2\:dds__col-start--9 {
    grid-column-start: 9;
  }
  .xl2\:dds__col-end--9 {
    grid-column-end: 9;
  }
  .xl2\:dds__col-start--10 {
    grid-column-start: 10;
  }
  .xl2\:dds__col-end--10 {
    grid-column-end: 10;
  }
  .xl2\:dds__col-start--11 {
    grid-column-start: 11;
  }
  .xl2\:dds__col-end--11 {
    grid-column-end: 11;
  }
  .xl2\:dds__col-start--12 {
    grid-column-start: 12;
  }
  .xl2\:dds__col-end--12 {
    grid-column-end: 12;
  }
  .xl2\:dds__col-start--13 {
    grid-column-start: 13;
  }
  .xl2\:dds__col-end--13 {
    grid-column-end: 13;
  }
  .xl2\:dds__col-start--auto {
    grid-column-start: auto;
  }
  .xl2\:dds__col-end--auto {
    grid-column-end: auto;
  }
  .xl2\:dds__row-span--1 {
    grid-row: span 1/span 1;
  }
  .xl2\:dds__row-span--2 {
    grid-row: span 2/span 2;
  }
  .xl2\:dds__row-span--3 {
    grid-row: span 3/span 3;
  }
  .xl2\:dds__row-span--4 {
    grid-row: span 4/span 4;
  }
  .xl2\:dds__row-span--5 {
    grid-row: span 5/span 5;
  }
  .xl2\:dds__row-span--6 {
    grid-row: span 6/span 6;
  }
  .xl2\:dds__row-span--full {
    grid-row: 1/-1;
  }
  .xl2\:dds__row-span--auto {
    grid-row: auto;
  }
}
@media (min-width: 2560px) {
  .xl3\:dds__grid-cols--1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .xl3\:dds__grid-cols--none {
    grid-template-columns: none;
  }
  .xl3\:dds__col-span--1 {
    grid-column: span 1/span 1;
  }
  .xl3\:dds__col-span--2 {
    grid-column: span 2/span 2;
  }
  .xl3\:dds__col-span--3 {
    grid-column: span 3/span 3;
  }
  .xl3\:dds__col-span--4 {
    grid-column: span 4/span 4;
  }
  .xl3\:dds__col-span--5 {
    grid-column: span 5/span 5;
  }
  .xl3\:dds__col-span--6 {
    grid-column: span 6/span 6;
  }
  .xl3\:dds__col-span--7 {
    grid-column: span 7/span 7;
  }
  .xl3\:dds__col-span--8 {
    grid-column: span 8/span 8;
  }
  .xl3\:dds__col-span--9 {
    grid-column: span 9/span 9;
  }
  .xl3\:dds__col-span--10 {
    grid-column: span 10/span 10;
  }
  .xl3\:dds__col-span--11 {
    grid-column: span 11/span 11;
  }
  .xl3\:dds__col-span--12 {
    grid-column: span 12/span 12;
  }
  .xl3\:dds__col-span--full {
    grid-column: 1/-1;
  }
  .xl3\:dds__col-span--auto {
    grid-column: auto;
  }
  .xl3\:dds__col-start--1 {
    grid-column-start: 1;
  }
  .xl3\:dds__col-end--1 {
    grid-column-end: 1;
  }
  .xl3\:dds__col-start--2 {
    grid-column-start: 2;
  }
  .xl3\:dds__col-end--2 {
    grid-column-end: 2;
  }
  .xl3\:dds__col-start--3 {
    grid-column-start: 3;
  }
  .xl3\:dds__col-end--3 {
    grid-column-end: 3;
  }
  .xl3\:dds__col-start--4 {
    grid-column-start: 4;
  }
  .xl3\:dds__col-end--4 {
    grid-column-end: 4;
  }
  .xl3\:dds__col-start--5 {
    grid-column-start: 5;
  }
  .xl3\:dds__col-end--5 {
    grid-column-end: 5;
  }
  .xl3\:dds__col-start--6 {
    grid-column-start: 6;
  }
  .xl3\:dds__col-end--6 {
    grid-column-end: 6;
  }
  .xl3\:dds__col-start--7 {
    grid-column-start: 7;
  }
  .xl3\:dds__col-end--7 {
    grid-column-end: 7;
  }
  .xl3\:dds__col-start--8 {
    grid-column-start: 8;
  }
  .xl3\:dds__col-end--8 {
    grid-column-end: 8;
  }
  .xl3\:dds__col-start--9 {
    grid-column-start: 9;
  }
  .xl3\:dds__col-end--9 {
    grid-column-end: 9;
  }
  .xl3\:dds__col-start--10 {
    grid-column-start: 10;
  }
  .xl3\:dds__col-end--10 {
    grid-column-end: 10;
  }
  .xl3\:dds__col-start--11 {
    grid-column-start: 11;
  }
  .xl3\:dds__col-end--11 {
    grid-column-end: 11;
  }
  .xl3\:dds__col-start--12 {
    grid-column-start: 12;
  }
  .xl3\:dds__col-end--12 {
    grid-column-end: 12;
  }
  .xl3\:dds__col-start--13 {
    grid-column-start: 13;
  }
  .xl3\:dds__col-end--13 {
    grid-column-end: 13;
  }
  .xl3\:dds__col-start--auto {
    grid-column-start: auto;
  }
  .xl3\:dds__col-end--auto {
    grid-column-end: auto;
  }
  .xl3\:dds__row-span--1 {
    grid-row: span 1/span 1;
  }
  .xl3\:dds__row-span--2 {
    grid-row: span 2/span 2;
  }
  .xl3\:dds__row-span--3 {
    grid-row: span 3/span 3;
  }
  .xl3\:dds__row-span--4 {
    grid-row: span 4/span 4;
  }
  .xl3\:dds__row-span--5 {
    grid-row: span 5/span 5;
  }
  .xl3\:dds__row-span--6 {
    grid-row: span 6/span 6;
  }
  .xl3\:dds__row-span--full {
    grid-row: 1/-1;
  }
  .xl3\:dds__row-span--auto {
    grid-row: auto;
  }
}
@media (min-width: 3840px) {
  .xl4\:dds__grid-cols--1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .xl4\:dds__grid-cols--none {
    grid-template-columns: none;
  }
  .xl4\:dds__col-span--1 {
    grid-column: span 1/span 1;
  }
  .xl4\:dds__col-span--2 {
    grid-column: span 2/span 2;
  }
  .xl4\:dds__col-span--3 {
    grid-column: span 3/span 3;
  }
  .xl4\:dds__col-span--4 {
    grid-column: span 4/span 4;
  }
  .xl4\:dds__col-span--5 {
    grid-column: span 5/span 5;
  }
  .xl4\:dds__col-span--6 {
    grid-column: span 6/span 6;
  }
  .xl4\:dds__col-span--7 {
    grid-column: span 7/span 7;
  }
  .xl4\:dds__col-span--8 {
    grid-column: span 8/span 8;
  }
  .xl4\:dds__col-span--9 {
    grid-column: span 9/span 9;
  }
  .xl4\:dds__col-span--10 {
    grid-column: span 10/span 10;
  }
  .xl4\:dds__col-span--11 {
    grid-column: span 11/span 11;
  }
  .xl4\:dds__col-span--12 {
    grid-column: span 12/span 12;
  }
  .xl4\:dds__col-span--full {
    grid-column: 1/-1;
  }
  .xl4\:dds__col-span--auto {
    grid-column: auto;
  }
  .xl4\:dds__col-start--1 {
    grid-column-start: 1;
  }
  .xl4\:dds__col-end--1 {
    grid-column-end: 1;
  }
  .xl4\:dds__col-start--2 {
    grid-column-start: 2;
  }
  .xl4\:dds__col-end--2 {
    grid-column-end: 2;
  }
  .xl4\:dds__col-start--3 {
    grid-column-start: 3;
  }
  .xl4\:dds__col-end--3 {
    grid-column-end: 3;
  }
  .xl4\:dds__col-start--4 {
    grid-column-start: 4;
  }
  .xl4\:dds__col-end--4 {
    grid-column-end: 4;
  }
  .xl4\:dds__col-start--5 {
    grid-column-start: 5;
  }
  .xl4\:dds__col-end--5 {
    grid-column-end: 5;
  }
  .xl4\:dds__col-start--6 {
    grid-column-start: 6;
  }
  .xl4\:dds__col-end--6 {
    grid-column-end: 6;
  }
  .xl4\:dds__col-start--7 {
    grid-column-start: 7;
  }
  .xl4\:dds__col-end--7 {
    grid-column-end: 7;
  }
  .xl4\:dds__col-start--8 {
    grid-column-start: 8;
  }
  .xl4\:dds__col-end--8 {
    grid-column-end: 8;
  }
  .xl4\:dds__col-start--9 {
    grid-column-start: 9;
  }
  .xl4\:dds__col-end--9 {
    grid-column-end: 9;
  }
  .xl4\:dds__col-start--10 {
    grid-column-start: 10;
  }
  .xl4\:dds__col-end--10 {
    grid-column-end: 10;
  }
  .xl4\:dds__col-start--11 {
    grid-column-start: 11;
  }
  .xl4\:dds__col-end--11 {
    grid-column-end: 11;
  }
  .xl4\:dds__col-start--12 {
    grid-column-start: 12;
  }
  .xl4\:dds__col-end--12 {
    grid-column-end: 12;
  }
  .xl4\:dds__col-start--13 {
    grid-column-start: 13;
  }
  .xl4\:dds__col-end--13 {
    grid-column-end: 13;
  }
  .xl4\:dds__col-start--auto {
    grid-column-start: auto;
  }
  .xl4\:dds__col-end--auto {
    grid-column-end: auto;
  }
  .xl4\:dds__row-span--1 {
    grid-row: span 1/span 1;
  }
  .xl4\:dds__row-span--2 {
    grid-row: span 2/span 2;
  }
  .xl4\:dds__row-span--3 {
    grid-row: span 3/span 3;
  }
  .xl4\:dds__row-span--4 {
    grid-row: span 4/span 4;
  }
  .xl4\:dds__row-span--5 {
    grid-row: span 5/span 5;
  }
  .xl4\:dds__row-span--6 {
    grid-row: span 6/span 6;
  }
  .xl4\:dds__row-span--full {
    grid-row: 1/-1;
  }
  .xl4\:dds__row-span--auto {
    grid-row: auto;
  }
}
@media (min-width: 5120px) {
  .xl5\:dds__grid-cols--1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .xl5\:dds__grid-cols--none {
    grid-template-columns: none;
  }
  .xl5\:dds__col-span--1 {
    grid-column: span 1/span 1;
  }
  .xl5\:dds__col-span--2 {
    grid-column: span 2/span 2;
  }
  .xl5\:dds__col-span--3 {
    grid-column: span 3/span 3;
  }
  .xl5\:dds__col-span--4 {
    grid-column: span 4/span 4;
  }
  .xl5\:dds__col-span--5 {
    grid-column: span 5/span 5;
  }
  .xl5\:dds__col-span--6 {
    grid-column: span 6/span 6;
  }
  .xl5\:dds__col-span--7 {
    grid-column: span 7/span 7;
  }
  .xl5\:dds__col-span--8 {
    grid-column: span 8/span 8;
  }
  .xl5\:dds__col-span--9 {
    grid-column: span 9/span 9;
  }
  .xl5\:dds__col-span--10 {
    grid-column: span 10/span 10;
  }
  .xl5\:dds__col-span--11 {
    grid-column: span 11/span 11;
  }
  .xl5\:dds__col-span--12 {
    grid-column: span 12/span 12;
  }
  .xl5\:dds__col-span--full {
    grid-column: 1/-1;
  }
  .xl5\:dds__col-span--auto {
    grid-column: auto;
  }
  .xl5\:dds__col-start--1 {
    grid-column-start: 1;
  }
  .xl5\:dds__col-end--1 {
    grid-column-end: 1;
  }
  .xl5\:dds__col-start--2 {
    grid-column-start: 2;
  }
  .xl5\:dds__col-end--2 {
    grid-column-end: 2;
  }
  .xl5\:dds__col-start--3 {
    grid-column-start: 3;
  }
  .xl5\:dds__col-end--3 {
    grid-column-end: 3;
  }
  .xl5\:dds__col-start--4 {
    grid-column-start: 4;
  }
  .xl5\:dds__col-end--4 {
    grid-column-end: 4;
  }
  .xl5\:dds__col-start--5 {
    grid-column-start: 5;
  }
  .xl5\:dds__col-end--5 {
    grid-column-end: 5;
  }
  .xl5\:dds__col-start--6 {
    grid-column-start: 6;
  }
  .xl5\:dds__col-end--6 {
    grid-column-end: 6;
  }
  .xl5\:dds__col-start--7 {
    grid-column-start: 7;
  }
  .xl5\:dds__col-end--7 {
    grid-column-end: 7;
  }
  .xl5\:dds__col-start--8 {
    grid-column-start: 8;
  }
  .xl5\:dds__col-end--8 {
    grid-column-end: 8;
  }
  .xl5\:dds__col-start--9 {
    grid-column-start: 9;
  }
  .xl5\:dds__col-end--9 {
    grid-column-end: 9;
  }
  .xl5\:dds__col-start--10 {
    grid-column-start: 10;
  }
  .xl5\:dds__col-end--10 {
    grid-column-end: 10;
  }
  .xl5\:dds__col-start--11 {
    grid-column-start: 11;
  }
  .xl5\:dds__col-end--11 {
    grid-column-end: 11;
  }
  .xl5\:dds__col-start--12 {
    grid-column-start: 12;
  }
  .xl5\:dds__col-end--12 {
    grid-column-end: 12;
  }
  .xl5\:dds__col-start--13 {
    grid-column-start: 13;
  }
  .xl5\:dds__col-end--13 {
    grid-column-end: 13;
  }
  .xl5\:dds__col-start--auto {
    grid-column-start: auto;
  }
  .xl5\:dds__col-end--auto {
    grid-column-end: auto;
  }
  .xl5\:dds__row-span--1 {
    grid-row: span 1/span 1;
  }
  .xl5\:dds__row-span--2 {
    grid-row: span 2/span 2;
  }
  .xl5\:dds__row-span--3 {
    grid-row: span 3/span 3;
  }
  .xl5\:dds__row-span--4 {
    grid-row: span 4/span 4;
  }
  .xl5\:dds__row-span--5 {
    grid-row: span 5/span 5;
  }
  .xl5\:dds__row-span--6 {
    grid-row: span 6/span 6;
  }
  .xl5\:dds__row-span--full {
    grid-row: 1/-1;
  }
  .xl5\:dds__row-span--auto {
    grid-row: auto;
  }
}
